<!doctype html>

<html>
  <head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css" type="text/css" />
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-route.js'></script>
    <script>
      var app = angular.module("app", ["ngRoute"]);

      app.config(function ($routeProvider) {
        $routeProvider
          .when('/home', {
            templateUrl: 'home.html',
            controller: 'HomeCtrl'
          })
          .when('/login', {
            templateUrl: 'login.html',
            controller: "LoginCtrl"
          })
          .otherwise('/home')
      });

      app.controller("HomeCtrl", function($scope, $http) {
        $scope.sliderValue = 0;
        $scope.sliderValue2 = 0;
        $scope.sliderTouched = false;
        $scope.sliderTouched2 = false;

        $scope.change = function() {
            $scope.sliderTouched = true;
        }
        $scope.change2 = function() {
            $scope.sliderTouched2 = true;
        }

        $scope.submit = function() {
          console.log("Submit clicked: " + $scope.sliderValue);

          const payload = {
            sliderValue: $scope.sliderValue
          };
          
          $http.post('https://api.example.com/data', payload)
              .then(function(response) {
                  console.log("Response:", response.data);
              })
              .catch(function(error) {
                  console.error("Error:", error);
              });
          }

      });

      app.controller("LoginCtrl", function($scope) {
        $scope.message = "It works!";
      });

    </script>
  </head>
  <body ng-app="app">

    <div ng-view></div>

    <script type="text/ng-template" id="home.html">

      <div class="question" style="padding: 40px">

        <img src="images/pepsi.png" height=100 style="margin-left:-40px;">
        <img src="images/coke.png"  height=90 style="margin-left:200px;">
        <br>

        <span class="tobottom">
            <input type="range" min="-5" max="5" ng-model="sliderValue" ng-change="change()" style="width:400px;">
        </span>
        <span class="tobottom">
            <span class="label-small" ng-if="!sliderTouched">move the slider to decide</span>
            <span class="label" ng-if="sliderTouched">{{sliderValue}}</span>
        </span>

        <br><br>
      </div>

      <div style="width:100%"></div>

      <br>
      <br>
      <br>
      <br>
      <br>


      <div class="question" style="padding: 40px">

        <img src="images/kamala.png" height=100 style="margin-left:-40px;">
        <img src="images/trump.png"  height=90 style="margin-left:200px;">
        <br>

        <span class="tobottom">
            <input type="range" min="-5" max="5" ng-model="sliderValue2" ng-change="change2()" style="width:400px;">
        </span>
        <span class="tobottom">
            <span class="label-small" ng-if="!sliderTouched2">move the slider to decide</span>
            <span class="label" ng-if="sliderTouched2">{{sliderValue2}}</span>
        </span>

        <br><br>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <input type="submit" ng-click="submit()">



    </script>

    <script type="text/ng-template" id="login.html">
      <h1>Login</h1>
      {{ message }}
    </script>

  </body>

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</html>