.not-button {
    cursor: initial !important;
    pointer-events: none;
}

a {
    border-bottom: 2px solid;
}

a.no {
    border-bottom: none;
}

a:hover {
    text-decoration: none;
}

h2 {
	margin-top: 10px;
	margin-bottom: 5px;
}

h3 {
	margin-top: 5px;
}

h3, p, ul {
	margin-bottom: 0;
}

p, li {
	margin-bottom: 10px;
	line-height: 1.6em;
}

strong {
	color: #111;
}

img {
	max-height: 800px;
	max-width: 100%;
}